<div class="container-background">
    <img src="/assets/Home_background.jpg" style="z-index: 0;">
</div>
<div class="content-container">
    <div class="hide-scroll">
        <div class="card">
            <div class="img-blue-futuristic">
                <img src="../../../assets/landscape-2090495_1920.jpg" style="width: 100%;">
                <h1 class="centered">What is IoT?</h1>
            </div>
            <div class="info" >
                <p style=" font-family: 'Exo 2', sans-serif;">
                    The internet of things, or IoT, is a system of interrelated computing devices, mechanical and
                    digital machines, objects, animals or people that are provided with unique identifiers (UIDs) and
                    the ability to transfer data over a network without requiring human-to-human or human-to-computer
                    interaction.
                </p>
            </div>
            <div class="youtube-link-iot">
                <iframe width="70%" height="400" style="margin-left: auto; margin-right: auto;" src="https://www.youtube.com/embed/LlhmzVL5bm8"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>

            
        </div>
    </div>
</div>