/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .youtube-link-iot{
        width: 80%;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .info {
        margin-top: 66px !important;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .img-blue-futuristic {
        height: 285px !important;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .content-container {
        width: 80% !important;
    }

    .centered {
        top: 10% !important;
    }

    .img-blue-futuristic{
        height: 220px !important;
    }

    .top-img{
        height: 340px !important;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .content-container {
        width: 80% !important;
    }

    .centered {
        top: 10% !important;
    }

    .img-blue-futuristic{
        height: 155px !important;
    }

    .top-img{
        height: 155px !important;
    }
}

.top-img{
    width: 100%;
}

.how-we-do-it{
    width: 80%;
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-background {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: auto;
    overflow: hidden;
}

.content-container {
    width: 60%;
    height: calc(100vh - 161px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    overflow: hidden;
}

.img-blue-futuristic {
    height: 400px;
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border-radius: 10px;
}

.hide-scroll {
    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

.centered {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Exo 2', sans-serif;
}

.youtube-link-iot{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.youtube-link-iot-container {
    width: 100%;
    display: inline-flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.card {
    background-color: transparent;
    background-image: linear-gradient(#161616a4, #f8f9fa52);
    color: white;
}

.info {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 20px;
}