<div class="container-background">
    <img src="/assets/Home_background.jpg" style="z-index: 0;">
</div>
<div class="content-container">
    <div class="hide-scroll">
        <div class="card">
            <div class="img-blue-futuristic">
                <img class="top-img" src="../../../assets/landscape-2090495_1920.jpg">
                <h1 class="centered">What is IoT?</h1>
            </div>
            <div class="info" >
                <p style="font-family: 'Exo 2', sans-serif;">
                    The internet of things, or IoT, is a system of interrelated computing devices, mechanical and
                    digital machines, objects, animals or people that are provided with unique identifiers (UIDs) and
                    the ability to transfer data over a network without requiring human-to-human or human-to-computer
                    interaction.
                </p>
            </div>
            <div class="youtube-link-iot-container">
                <iframe class="youtube-link-iot" src="https://www.youtube.com/embed/LlhmzVL5bm8"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="how-we-do-it">
                <h2>How we do it ?</h2>
                <p style=" font-family: 'Exo 2', sans-serif;">
                    We make use of edge-leading technological partners distributed throughout the world to supply us.
                    Affordability , Ease of use and Integration into business processes is our fundamental vision to empower you as a client.
                </p>
                <br>
                <h2>I can't find a device that suits my needs?</h2>
                <p>
                    At East London IoT we design niche IoT hardware to suit your business needs.
                    Please contact us if you have any specific requirements or business needs.
                </p>
            </div>
        </div>
    </div>
</div>