<div class="fill-screen">
    <div class="toolbar" style="background: grey;display: inline-block;width: 100%;">
        <button mat-raised-button color="primary" (click)="dashboardService.addItem()" style="align-self: center;">Add
            Item</button>
        <button mat-raised-button color="secondary" (click)="dashboardService.addItem()" style="float: right;align-self: center;">Save
            Dashboard</button>
    </div>
    <gridster [options]="options" style="background:grey;">
        <gridster-item *ngFor="let item of layout" [item]="item" class="gridItem">
            <div class="grid-item-container">
                <div class="delete-item-container">
                    <button mat-raised-button color="warn" (click)="dashboardService.deleteItem(item)" class="deleteItemButton">
                        x
                    </button>
                </div>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <!-- <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p> -->
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
        </gridster-item>
    </gridster>
</div>