@media (min-width: 481px) and (max-width: 767px) {
    .logo-container img {
        width: 40%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
    }
    .areaHeading {
        flex: 7 !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .logo-container img {
        width: 40%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
    }
    .areaHeading {
        flex: 7 !important;
    }
}

.canvas-container {
    width: 80%;
    margin: auto;
    padding-bottom: 32px;
}

.p1{
    margin-top: 6px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2)!important;
    padding: 4px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #00000033;
    border-radius: 5px;
    border: 1px solid #ffffff70;
    width: 40%;
}
#gauge{
    height: 300px;
    margin: auto;
}

.areaHeading {
    margin: 8px;
    background-color: #F44336;
    align-self: center;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    color: white;
    font: 16px 'Exo 2', sans-serif;
    box-shadow: 5px 4px 7px #888888;
}

.areaHeading-container {
    padding: 15px;
    flex: 2;
    text-align: center;
}

.loadingdata {
    justify-content: center;
    margin: 0px;
    padding: 10px;
    font: 'Exo 2', sans-serif;
}

.context-bar {
    width: 50%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.centre {
    text-align: center;
}

.justify-content-center {
    justify-content: center!important;
    align-items: center;
}

.d16 {
    margin-top: 16px;
    padding: 10px;
    font-family: 'Exo 2', sans-serif;
}

.latest-value {
    padding: 10px;
    border-radius: 5px;
    background-color: #0383fe;
    color: white;
    box-shadow: 5px 4px 7px #888888
}

#background {
    position: absolute;
    width: 100%;
    min-height: 70em;
    margin: auto;
    background-image: url('/assets/Home_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.logo-container {
    position: absolute;
    height: calc(100vh - 140px);
    width: 100vw;
    padding: 0px;
    z-index: 1;
    top: 70px;
    left: 0px;
}

.logo-container img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    animation: breathing 4s infinite;
}