<div id="background">
    <div class="card shadow context-bar">
        <div style="display: inline-flex;">
            <div *ngIf="locations | async" class="areaHeading" style="flex : 3;">
                Location :
            </div>
            <ul class="nav nav-tabs" style="flex : 10;">
                <li *ngFor="let location of locations | async" class="nav-link" (click)="setSelectedLocation(location)">{{location}}</li>
            </ul>
        </div>
        <div *ngIf="areasForSelected" style="display: inline-flex;">
            <div class="areaHeading" style="flex : 3;">
                Area :
            </div>
            <ul class="nav nav-tabs" style="flex : 10;">
                <li *ngFor="let area of areasForSelected" class="nav-link" (click)="setSelectedArea(area)">{{area}}</li>
            </ul>
        </div>
        <ul *ngIf="!contextData" class="nav nav-tabs" style="justify-content:center;">
            <p class="loadingdata">Loading Data ...</p>
        </ul>
    </div>

    <div class="canvas-container">
        <div *ngIf="showSpinner" class="spinner">
            <div class="logo-container">
                <img src="/assets/ELIOT.png">
            </div>
        </div>
        <div *ngIf="showContent">
            <!--Latest Timestamp & Latest Alerts-->
            <div *ngIf="latestTimestamp.length > 0" class="row" style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-sm">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <div class="row justify-content-center" style="margin: auto;">
                                <i class="material-icons" style="text-align:center;">
                                    alarm
                                </i>
                                <h4 style="text-align:center;">Latest Timestamp</h4>
                            </div>
                            <p class="p1">{{latestTimestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <div class="row justify-content-center" style="margin: auto;">
                                <i class="material-icons" style="text-align:center;">
                                    feedback
                                </i>
                                <h4 style="text-align:center;">Latest Alerts</h4>
                            </div>
                            <p class="p1"> None </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--DS18B20 & DHT-11-->
            <div *ngIf="latestTimestamp.length > 0" class="row" style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest DS18B20 Temp</h4>
                            <p class="p1">{{latestDS18Temperature}} °C</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="-10" [endValue]="50" [values]="[DS18B_minavgmax_temp_ChartValues.min, DS18B_minavgmax_temp_ChartValues.avg, DS18B_minavgmax_temp_ChartValues.max]">
                            <dxo-label [customizeText]="customizeTempText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest DHT-11 Temp</h4>
                            <p class="p1">{{latestDHT11Temperature}} °C</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="-10" [endValue]="50" [values]="[DHT11_minavgmax_temp_ChartValues.min, DHT11_minavgmax_temp_ChartValues.avg, DHT11_minavgmax_temp_ChartValues.max]">
                            <dxo-label [customizeText]="customizeTempText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest DHT-11 Humidity</h4>
                            <p class="p1">{{latestDHT11Humidity}} %</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="0" [endValue]="100" [values]="[DHT11_minavgmax_humidity_ChartValues.min, DHT11_minavgmax_humidity_ChartValues.avg, DHT11_minavgmax_humidity_ChartValues.max]">
                            <dxo-label [customizeText]="customizeHumidityText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
            </div>
            <!--AC Fan 1 Gauges-->
            <div *ngIf="latestACFan1Amps != ''" class="row" style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest Fan 1 Amps</h4>
                            <p class="p1">{{latestACFan1Amps}}A</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="0" [endValue]="AC_Fan1_minavgmax_amps_ChartValue.max"
                            [values]="[AC_Fan1_minavgmax_amps_ChartValue.min, AC_Fan1_minavgmax_amps_ChartValue.avg, AC_Fan1_minavgmax_amps_ChartValue.max]">
                            <dxo-label [customizeText]="customizeAmpText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest Fan 1 Watts</h4>
                            <p class="p1">{{latestACFan1Watts}}W</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="0" [endValue]="AC_Fan1_minavgmax_watts_ChartValue.max"
                            [values]="[AC_Fan1_minavgmax_watts_ChartValue.min, AC_Fan1_minavgmax_watts_ChartValue.avg, AC_Fan1_minavgmax_watts_ChartValue.max]">
                            <dxo-label [customizeText]="customizeWattText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
            </div>
            <!--AC Compressor 1 Gauges-->
            <div *ngIf="latestACFan1Amps != ''" class="row" style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest Compressor 1 Amps</h4>
                            <p class="p1">{{latestACCompressor1Amps}}A</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="0" [endValue]="AC_Compressor1_minavgmax_amps_ChartValue.max"
                            [values]="[AC_Compressor1_minavgmax_amps_ChartValue.min, AC_Compressor1_minavgmax_amps_ChartValue.avg, AC_Compressor1_minavgmax_amps_ChartValue.max]">
                            <dxo-label [customizeText]="customizeAmpText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card centre d16 shadow">
                        <div class="latest-value">
                            <h4>Latest Compressor 1 Watts</h4>
                            <p class="p1">{{latestACCompressor1Watts}}W</p>
                        </div>
                        <dx-bar-gauge id="gauge" [startValue]="0" [endValue]="AC_Compressor1_minavgmax_watts_ChartValue.max"
                            [values]="[AC_Compressor1_minavgmax_watts_ChartValue.min, AC_Compressor1_minavgmax_watts_ChartValue.avg, AC_Compressor1_minavgmax_watts_ChartValue.max]">
                            <dxo-label [customizeText]="customizeWattText">
                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                            </dxo-label>
                            <dxo-legend [customizeItems]="formatLegend" [visible]="true">
                            </dxo-legend>
                        </dx-bar-gauge>
                    </div>
                </div>
            </div>
            <!--Temp & Humidity Chart-->
            <div *ngIf="DS18B_temp_ChartValues.length > 0" class="row" style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-lg" style="padding-top: 16px;">
                    <div class="card shadow">
                        <div *ngIf='timestampValues' class="card-body">
                            <h4 class="card-title">Temperature</h4>
                            <apx-chart [series]="[{name : 'DHT-11-Temp', data: DHT11_temp_ChartValues},{name : 'DS18B20-Temp', data : DS18B_temp_ChartValues}]"
                                [xaxis]="{categories : timestampValues, type: 'datetime'}" [yaxis]="{ min: DHT11_minavgmax_temp_ChartValues.min - 2, max: DHT11_minavgmax_temp_ChartValues.max + 2 }"
                                [stroke]="{
                                    show: true,
                                    width: 1,
                                    dashArray: 0    
                                }"
                                [chart]="{
                                    type: 'line',
                                    stacked: false,
                                    height: 350,
                                    zoom: {
                                      type: 'x',
                                      enabled: true
                                    },
                                    toolbar: {
                                      autoSelected: 'zoom'
                                    }
                                  }"
                                [title]="Temperature" [tooltip]="{
                                    x: { format : 'yyyy-MM-dd hh:mm:ss' }
                                }"></apx-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg" style="padding-top: 16px;">
                    <div class="card shadow">
                        <div *ngIf='timestampValues' class="card-body">
                            <h4 class="card-title">Humidity</h4>
                            <apx-chart [series]="[{name : 'DHT-11-Humidity', data : DHT11_humidity_ChartValues}]"
                                [xaxis]="{ categories : timestampValues, type: 'datetime' }" [yaxis]="{ min: DHT11_minavgmax_humidity_ChartValues.min, max: DHT11_minavgmax_humidity_ChartValues.max }"
                                [dataLabels]="{
                                    enabled: false
                                }"
                                [stroke]="{
                                    show: true,
                                    curve: 'smooth',
                                    width: 1,
                                    dashArray: 0    
                                }"
                                [chart]="{
                                    type: 'area',
                                    stacked: false,
                                    height: 350,
                                    zoom: {
                                      type: 'x',
                                      enabled: true
                                    },
                                    toolbar: {
                                      autoSelected: 'zoom'
                                    }
                                  }"
                                [title]="Humidity" [tooltip]="{
                                    x: { format : 'yyyy-MM-dd hh:mm:ss' }
                                }">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <!--AC Fan 1 & AC Compressor Chart-->
            <div *ngIf="latestACFan1Amps != ''" class="row" style="width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-lg" style="padding-top: 16px;">
                    <div class="card shadow">
                        <div *ngIf='timestampValues' class="card-body">
                            <h4 class="card-title">Watts</h4>
                            <apx-chart [series]="[{name : 'Fan1', data: AC_Fan1_watts_ChartValues},{name : 'Compressor1', data : AC_Compressor1_watts_ChartValues}]"
                                [xaxis]="{categories : timestampValues, type: 'datetime'}" [yaxis]="{ min: AC_Fan1_minavgmax_watts_ChartValue.min, max: AC_Fan1_minavgmax_watts_ChartValue.max }"
                                [stroke]="{
                                        show: true,
                                        width: 1,
                                        dashArray: 0    
                                    }"
                                [chart]="{
                                        type: 'line',
                                        stacked: false,
                                        height: 350,
                                        zoom: {
                                          type: 'x',
                                          enabled: true
                                        },
                                        toolbar: {
                                          autoSelected: 'zoom'
                                        }
                                      }"
                                [title]="Temperature" [tooltip]="{
                                        x: { format : 'yyyy-MM-dd hh:mm:ss' }
                                    }"></apx-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg" style="padding-top: 16px;">
                    <div class="card shadow">
                        <div *ngIf='timestampValues' class="card-body">
                            <h4 class="card-title">Amps</h4>
                            <apx-chart [series]="[{name : 'Fan1', data : AC_Fan1_amps_ChartValues},{name : 'Compressor1', data : AC_Compressor1_amps_ChartValues}]"
                                [xaxis]="{ categories : timestampValues, type: 'datetime' }" [yaxis]="{ min: AC_Fan1_minavgmax_amps_ChartValue.min , max: AC_Fan1_minavgmax_amps_ChartValue.max }"
                                [dataLabels]="{
                                        enabled: false
                                    }"
                                [stroke]="{
                                        show: true,
                                        curve: 'smooth',
                                        width: 1,
                                        dashArray: 0    
                                    }"
                                [chart]="{
                                        type: 'area',
                                        stacked: false,
                                        height: 350,
                                        zoom: {
                                          type: 'x',
                                          enabled: true
                                        },
                                        toolbar: {
                                          autoSelected: 'zoom'
                                        }
                                      }"
                                [title]="Humidity" [tooltip]="{
                                        x: { format : 'yyyy-MM-dd hh:mm:ss' }
                                    }">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>