@media (min-width: 481px) and (max-width: 767px) {
    .logo-container img{
        width: 80%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        }
    }

@media (min-width: 320px) and (max-width: 480px) {
    .logo-container img{
        width: 80%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        }
    }   

.canvas-container{
    width: 80%;
    margin: auto;
}

.context-bar{
    width: 50%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.centre{
    text-align: center;
}

.justify-content-center {
    justify-content: center!important;
    align-items: center;
}

.d16{
    margin-top:16px;
    padding: 10px;
    font-family: 'Exo 2', sans-serif;
}

.latest-value{
    padding: 10px;
    border-radius: 5px;
    background-color: #0383fe;
    color: white;
    box-shadow: 5px 4px 7px #888888
}

#background{
    position: absolute;
    width: 100%;
    min-height: 70em;
    margin: auto;

    background-image: url('/assets/Home_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.logo-container{
    position: absolute;
    height: calc(100vh - 166px);
    width: 100vw;
    padding: 0px;
    z-index: 1;
    top: 66px;
    left: 0px;
}
.logo-container img{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    animation: breathing 4s infinite;
}