<div class="container-background">
    <img src="/assets/Home_background.jpg" style="z-index: 0;">
</div>
<div class="main-container">
    <div class="row">
        <div class="features-blue">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Features</h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum
                        nibh erat, pellentesque ut laoreet vitae.</p>
                </div>
                <div class="row features">
                    <div class="col-sm-6 col-md-4 item"><i class="material-icons">map</i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description"></p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="material-icons">timer</i>
                        <h3 class="name">Always available</h3>
                        <p class="description"></p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="material-icons">tonality</i>
                        <h3 class="name">Customizable</h3>
                        <p class="description"></p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="material-icons">eco</i>
                        <h3 class="name">Organic</h3>
                        <p class="description"></p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="material-icons">import_export</i>
                        <h3 class="name">Fast</h3>
                        <p class="description"></p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="material-icons">phone</i>
                        <h3 class="name">Mobile-first</h3>
                        <p class="description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>