<div class="container-background">
    <img src="/assets/Home_background.jpg" style="z-index: 0;">
</div>
<div class="content-container" style="padding-top: 30px; overflow: hidden;">
    <div class="hide-scroll">
        <div class="row" style="display: flex; overflow-y: scroll;">
            <div class="coldcontrol-product-container">
                <div class="coldcontrol-logo-container">
                    <img class="cc-logo-img" src="../../../assets/cold-controljpg.jpg" style="height: 100%;">
                </div>
                <h2 style="color: white; text-align: center; margin-top: 0px; margin-bottom: 32px;">Cold Storage
                    Monitoring and Analytics</h2>
                <div class="infotainer">
                    <div class="base-device-info">
                        <h4>
                            Base Device Information
                        </h4>
                        <div class="list">
                            <div class="column-lg" style="padding-top: 32px;">
                                <!--cpu-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        memory
                                    </i>
                                    <p class="text-item">
                                        Dual-Core 240MHz Microcontroller.
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--WiFi-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        signal_wifi_4_bar
                                    </i>
                                    <p class="text-item">
                                        Wi-Fi: 802.11 b/g/n.
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--OTA-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        system_update
                                    </i>
                                    <p class="text-item">
                                        Over-The-Air Updates.
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--Remote Device Config-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        settings_remote
                                    </i>
                                    <p class="text-item">
                                        Remote Device Configuration.
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--Call Home-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        house
                                    </i>
                                    <p class="text-item">
                                        Device monitoring and call home functionality.
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--restore forward-->
                            </div>
                        </div>
                        <div style="display:inline-flex">
                            <i class="material-icons icon-item">
                                cached
                            </i>
                            <p class="text-item">
                                Restore data when connectivity is re-established.
                            </p>
                        </div>
                    </div>
                    <div class="device-sensor-info">
                        <h4>
                            Sensor Information
                        </h4>
                        <div class="list">
                            <div class="column-lg" style="padding-top: 32px;">
                                <!--voltage-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        offline_bolt
                                    </i>
                                    <p class="text-item">
                                        6 x 230v/400v Voltage Meters.
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--amperage-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        offline_bolt
                                    </i>
                                    <p class="text-item">
                                        6 x 30A Amperage Meters ( Non-Invasive Clamps ).
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--wattage-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        offline_bolt
                                    </i>
                                    <p class="text-item">
                                        6 x Wattage Meters ( Combined Measurements ).
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--temp-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        whatshot
                                    </i>
                                    <p class="text-item">
                                        2 x Digital Thermometers ( 2 digit precision ).
                                    </p>
                                </div>
                            </div>
                            <div class="column-lg">
                                <!--doors-->
                                <div style="display:inline-flex">
                                    <i class="material-icons icon-item">
                                        meeting_room
                                    </i>
                                    <p class="text-item">
                                        1 to Many door switches.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>