/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.95);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.95);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  }
